body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 50%;
  padding: 1em;
}

h2 {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

footer {
  text-align: center;
}
